# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# compiled python
*.so

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Python packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# pytest
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# mypy
# =========================
.mypy_cache/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# FastAPI runtime
# =========================
*.log

# =========================
# Project runtime folders
# =========================
workspace/
build/

# =========================
# Docker
# =========================
docker-compose.override.yml
*.pid

# =========================
# Env files
# =========================
.env
.env.*

# =========================
# Coverage
# =========================
coverage.xml

# =========================
# Python version
# =========================
.python-version

cs-complier_key.pem

compiler/src/runtime/*.class
compiler/src/runtime/*.j